.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    position: relative;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.message-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    padding: 10px;
    max-width: 50rem;
    margin: 0 auto;
}

.error-message {
    font-size: 1.5em;
    color: #721c24;
    margin: 0;
}

.upload-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upload-form input[type="file"] {
    flex: 1;
}

.back-sign {
    position: absolute;
    top: 2%;
    left: 1%;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
}

.header {
    margin: 1.5rem 0;
}

.video-content {
    position: absolute;
    bottom: 31%;
    color: wheat;
    font-size: 1.5em;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.input-container {
    display: flex;
    align-items: center;
}